manifest {
    /* nextflow.config for DRAM2 in Nextflow */

    /* Homepage of project */
    homePage = 'https://github.com/WrightonLabCSU/DRAM2'

    /* Author */
    author = 'Reed Woyda, Madeline Scyphers, Kelly C. Wrighton, Rory M Flynn, Mikayla Borton'

    /* Description of project */
    description = 'DRAM2 (Distilled and Refined Annotation of Metabolism Version 2) is a tool for annotating metagenomic assembled genomes.'

    /* Main pipeline script */
    mainScript = 'DRAM2.nf'

    /* Repository */
    defaultBranch = 'main'

    /* version */
    // v2.0.0
}

params {
    /* Help menu and version */
        help = 0
        h = 0
        help_call = 0
        help_annotate = 0
        help_distill = 0
        help_adjectives = 0
        help_product = 0
        help_format_kegg = 0
        v = 0
        version = 0

    /* Rename input fasta headers option */
        rename = 0

    /* THESE 2 MIGHT NOT DO ANYTHING ANYTMORE. FIGURE THAT OUT */
    /* Data type of input fasta */
        data_type = "genomic"
    /* sequence_type option for fasta: nuc or prot or nucleotide or protein */
        sequence_type = "n"

    /* Formatting database CLI */
        format_kegg = 0

    /* Distill options */
        /* I DONT THINK THIS DOES ANYTHING ANYTMORE. FIGURE THAT OUT */
        merge_distill = ""
        /* internal flag */
        distill_flag = 0

    /* Distill sheets */
        /* Dummy sheet */
            distill_dummy_sheet = "${projectDir}/assets/forms/distill_sheets/dummy.tsv"

        /* Topic */
            distill_carbon_sheet = "${projectDir}/assets/forms/distill_sheets/distill_carbon_Jan252024.tsv"
            distill_energy_sheet = "${projectDir}/assets/forms/distill_sheets/distill_energy_Jan252024.tsv"
            distill_misc_sheet = "${projectDir}/assets/forms/distill_sheets/distill_misc_Jan252024.tsv"
            distill_nitrogen_sheet = "${projectDir}/assets/forms/distill_sheets/distill_nitrogen_Jan252024.tsv"
            distill_transport_sheet = "${projectDir}/assets/forms/distill_sheets/distill_transport_Jan252024.tsv"
            distill_camper_sheet = "${projectDir}/assets/forms/distill_sheets/distill_camper_Feb122024.tsv"

        /* Ecosystem */
            distill_eng_sys_sheet = "${projectDir}/assets/forms/distill_sheets/distill_eng_sys_Jan252024.tsv"
            distill_ag_sheet = "${projectDir}/assets/forms/distill_sheets/distill_ag_Jan252024.tsv"

    /* Additional forms */
        module_step_form = "${projectDir}/assets/forms/module_step_form.20220928.tsv"
        function_heatmap_form = "${projectDir}/assets/forms/function_heatmap_form.20220928.tsv"
        etc_module_database = "${projectDir}/assets/forms/etc_module_database.20220928.tsv"
        amg_database = "${projectDir}/assets/forms/amg_database.20220928.tsv"

    /* Supporting scripts TEMPORARY - will be put into containers or within repo */
        /* Annotation foramtting scripts */
            parse_hmmsearch_script = "${projectDir}/assets/parse_hmmsearch.py"
            kegg_formatter_script = "${projectDir}/assets/kegg_hmm_formatter.py"
            kofam_hmm_formatter_script = "${projectDir}/assets/kofam_hmm_formatter.py"
            dbcan_hmm_formatter_script = "${projectDir}/assets/dbcan_hmm_formatter.py"
            canthyd_hmm_formatter_script = "${projectDir}/assets/canthyd_hmm_formatter.py"
            vog_hmm_formatter_script = "${projectDir}/assets/vog_hmm_formatter.py"
            camper_hmm_formatter_script = "${projectDir}/assets/camper_hmm_formatter.py"
            sulfur_hmm_formatter_script = "${projectDir}/assets/sulfur_hmm_formatter.py"
            fegenie_hmm_formatter_script = "${projectDir}/assets/fegenie_hmm_formatter.py"

        /* Annotation mmseqs and SQL related scripts */
            mmseqs_add_descriptions_script = "${projectDir}/assets/mmseqs_add_descriptions.py"
            sql_parser_script = "${projectDir}/assets/sql_add_descriptions.py"
            mmseqs_rbh_filter_script = "${projectDir}/assets/rbh_mmseqs_filter.py"
            format_kegg_db_script = "${projectDir}/assets/format_kegg_database.py"

        /* GFF and GBK generation script */
            ch_generate_gff_gbk_script = "${projectDir}/assets/generate_gff_genbank.py"

        /* Call genes related scripts */
            generate_gene_locs_script = "${projectDir}/assets/generate_gene_loc_tsv.py"
            called_genes_loc_script_faa = "${projectDir}/assets/generate_faa_gene_loc_tsv.py"

        /* Combining annotations scripts */
            combine_annotations_script = "${projectDir}/assets/combine_annotations.py"
            count_annots_script = "${projectDir}/assets/count_annotations.py"

        /* Distill related scripts */
            distill_xlsx_script = "${projectDir}/assets/distill_xlsx.py"
            distill_sql_script = "${projectDir}/assets/distill_sql.py"

        /* Product related scripts */
            //This is a placeholder for a single script
            make_product_pkg = "dram_viz"

    /* Phylogenetic Trees Options */
    // Move to defaults.config when ready
        trees = 0
        add_trees = 0
        trees = 0
        trees_list = "dmso"
        //trees_list = "nar_nxr;dsr;mcra;amoa_pmoa;hydrogenase"
        add_trees = ""
        tree_data_files = "${projectDir}/assets/trees/"
        trees_scripts = "${projectDir}/assets"

    /* Adjectives Options */
    // Move to defaults.config when ready
        adjectives = 0
        adjectives_script = "${projectDir}/assets/adjectives/adjectives.py"

    /* Containers and Environments */
        main_environment = "${projectDir}/assets/conda/environment.yml"
        quast_environment = "${projectDir}/assets/conda/environment-quast.yml"
        conda_slurm_config = "${projectDir}/assets/conda/conda_slurm.config"
        conda_config = "${projectDir}/assets/conda/conda.config"
        singularity_slurm_config = "${projectDir}/assets/singularity/singularity_slurm.config"
        singularity_config = "${projectDir}/assets/singularity/singularity.config"
}

includeConfig "${projectDir}/assets/configs/defaults.config"
