/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    kegg_db = "${projectDir}/databases/kegg/"
    // Uniref
    uniref_db = "${projectDir}/databases/uniref/"
    // Pfam
    pfam_mmseq_db = "${projectDir}/databases/pfam/mmseqs/"
    // merops
    merops_db = "${projectDir}/databases/merops/"
    // viral
    viral_db = "${projectDir}/databases/viral/"
    // kofam
    kofam_db = "${projectDir}/databases/kofam/"
    kofam_list = "${projectDir}/databases/kofam/kofam_ko_list.tsv"
    // dbcan
    dbcan_db = "${projectDir}/databases/dbcan/"
    dbcan_fam_activities = "${projectDir}/databases/dbcan/dbcan.fam-activities.tsv"
    dbcan_subfam_activities = "${projectDir}/databases/dbcan/dbcan.fam-activities.tsv"
    // vogdb
    vog_db = "${projectDir}/databases/vogdb/"
    vog_list = "${projectDir}/databases/vogdb/vog_annotations_latest.tsv.gz"
    // CAMPER
    camper_hmm_db = "${projectDir}/databases/camper/hmm/"
    camper_hmm_list = "${projectDir}/databases/camper/hmm/camper_hmm_scores.tsv"
    camper_mmseqs_db = "${projectDir}/databases/camper/mmseqs/"
    camper_mmseqs_list = "${projectDir}/databases/camper/mmseqs/camper_scores.tsv"
    // cant hyd
    canthyd_hmm_db = "${projectDir}/databases/canthyd/hmm/"
    cant_hyd_hmm_list = "${projectDir}/databases/canthyd/hmm/cant_hyd_HMM_scores.tsv"
    canthyd_mmseqs_db = "${projectDir}/databases/canthyd/mmseqs/"
    canthyd_mmseqs_list = "${projectDir}/databases/canthyd/mmseqs/cant_hyd_BLAST_scores.tsv"
    // fegenie
    fegenie_db = "${projectDir}/databases/fegenie/"
    fegenie_list = "${projectDir}/databases/fegenie/fegenie_iron_cut_offs.txt"
    // Sulfur
    sulfur_db = "${projectDir}/databases/sulfur/"
    // Methyl
    methyl_db = "${projectDir}/databases/methyl/"
    // SQL annotation descriptions database
    sql_descriptions_db = "${projectDir}/databases/db_descriptions/description_db.sqlite"

}
