/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FORMAT_KEGG_DB {
        publishDir = [
            path: "${params.kegg_db}",
            mode: 'move',
        ]
    }
    withName: RENAME_FASTA {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }

    withName: CALL_GENES {
        publishDir = [
            [
                path: "${params.outdir}/ANNOTATE/PRODIGAL",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.gff') ? null : filename},
            ],
            // Save GFF files to a different folder
            [
                path: "${params.outdir}/ANNOTATE/RENAMED_GFFS",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.gff') ? filename : null},
            ]
        ]
    }

    withName: QUAST {
        publishDir = [
            [
                path: "${params.outdir}/ANNOTATE/QUAST",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.log') ? null : filename},
            ],
            [
                path: "${params.outdir}/pipeline_info/logs",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.log') ? filename : null},
            ]
        ]
    }

    // Creates a summary tsv of the prodigal output
    withName: GENE_LOCS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/PRODIGAL",
            mode: 'copy',
        ]
    }
    withName: TRNA_SCAN {
        publishDir = [
            enabled: false,
            path: "${params.outdir}/ANNOTATE/tRNA_rRNA",
            mode: 'copy',
        ]
    }

    withName: RRNA_SCAN {
        publishDir = [
            enabled: false,
            path: "${params.outdir}/ANNOTATE/tRNA_rRNA",
            mode: 'copy',
        ]
    }

    withName: TRNA_COLLECT {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }

    withName: RRNA_COLLECT {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: MMSEQS_INDEX {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: 'copy',
        ]
    }

    withName: MMSEQS_SEARCH {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: 'copy',
        ]
    }

    withName: ADD_SQL_DESCRIPTIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: 'copy',
        ]
    }

    withName: HMM_SEARCH {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }

    withName: PARSE_HMM {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: KEGG_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }

    withName: KOFAM_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }

    withName: CANTHYD_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: VOG_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: CAMPER_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: SULFUR_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: FEGENIE_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: GENERIC_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: DBCAN_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: 'copy',
        ]
    }
    withName: COMBINE_ANNOTATIONS {
        publishDir = [
            [
                path: "${params.outdir}/ANNOTATE",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.log') ? null : filename},
            ],
            [
                path: "${params.outdir}/pipeline_info/logs",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.log') ? filename : null},
            ]
        ]
    }
    withName: COUNT_ANNOTATIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: ADD_ANNOTATIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: MERGE_ANNOTATIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: ADD_TAXA {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: ADD_BIN_QUALITY {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: GENERATE_GFF_GENBANK {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: 'copy',
        ]
    }
    withName: COMBINE_SUMMARIZE {
        publishDir = [
            path: "${params.outdir}/SUMMARIZE",
            mode: 'copy',
        ]
    }
    withName: SUMMARIZE {
        publishDir = [
            [
                path: "${params.outdir}/SUMMARIZE",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.log') ? null : filename},
            ],
            [
                path: "${params.outdir}/pipeline_info/logs",
                mode: 'copy',
                saveAs: { filename -> filename.endsWith('.log') ? filename : null},
            ]
        ]
    }
    withName: PRODUCT_HEATMAP {
        publishDir = [
            path: "${params.outdir}/VISUALIZE",
            mode: 'copy',
        ]
    }
    withName: ADJECTIVES {
        publishDir = [
            path: "${params.outdir}/SUMMARIZE",
            mode: 'copy',
        ]
    }
    withName: TREES {
        publishDir = [
            path: "${params.outdir}/VISUALIZE",
            mode: 'copy',
        ]
    }
}
