/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FORMAT_KEGG_DB {
        publishDir = [
            path: "${params.kegg_db}",
            mode: 'move',
        ]
    }
    withName: MMSEQS_GPU_DATABASE {
        publishDir = [
            path: "${params.outdir}",
            mode: params.publish_dir_mode,
        ]
    }
    withName: MMSEQS_SEARCH_GPU {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: params.publish_dir_mode,
        ]
    }
    withName: DECOMPRESS_FASTA {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'RENAME_FASTA|RENAME_PROTEINS' {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.startsWith("RENAME_") && filename.endsWith(".tsv") ? null : filename},
        ]
    }
    withName: 'GENERATE_GFF' {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.startsWith("GENERATED_GFF") && filename.endsWith(".tsv") ? null : filename},
        ]
    }
    withName: CALL_GENES {
        publishDir = [
            [
                path: "${params.outdir}/ANNOTATE/PRODIGAL",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.gff') ? null : filename},
            ],
            // Save GFF files to a different folder
            [
                path: "${params.outdir}/ANNOTATE/RENAMED_GFFS",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.gff') ? filename : null},
            ]
        ]
    }

    withName: QUAST {
        publishDir = [
            [
                path: "${params.outdir}/ANNOTATE/QUAST",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.log') ? null : filename},
            ],
            [
                path: "${params.outdir}/pipeline_info/logs",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.log') ? filename : null},
            ]
        ]
    }

    // Creates a summary tsv of the prodigal output
    withName: GENE_LOCS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/PRODIGAL",
            mode: params.publish_dir_mode,
        ]
    }
    withName: TRNA_SCAN {
        publishDir = [
            enabled: false,
            path: "${params.outdir}/ANNOTATE/tRNA_rRNA",
            mode: params.publish_dir_mode,
        ]
    }

    withName: RRNA_SCAN {
        publishDir = [
            enabled: false,
            path: "${params.outdir}/ANNOTATE/tRNA_rRNA",
            mode: params.publish_dir_mode,
        ]
    }

    withName: TRNA_COLLECT {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }

    withName: RRNA_COLLECT {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: MMSEQS_INDEX {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: params.publish_dir_mode,
        ]
    }

    withName: MMSEQS_SEARCH {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: params.publish_dir_mode,
        ]
    }

    withName: ADD_SQL_DESCRIPTIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/MMSEQS2",
            mode: params.publish_dir_mode,
        ]
    }

    withName: HMM_SEARCH {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/HMM_SEARCH",
            mode: params.publish_dir_mode,
        ]
    }
    withName: RUNDBCAN_EASYSUBSTRATE {
        errorStrategy = 'retry'
        maxRetries = 2
        publishDir = [
            path: "${params.outdir}/ANNOTATE/RUNDBCAN_EASYSUBSTRATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: RGI_MAIN {
        publishDir = [
            path: "${params.outdir}/ANNOTATE/rgi",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.startsWith('temp') ? null : filename },
        ]
    }
    withName: COMBINE_ANNOTATIONS {
        publishDir = [
            [
                path: "${params.outdir}/ANNOTATE",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.log') ? null : filename},
            ],
            [
                path: "${params.outdir}/pipeline_info/logs",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.log') ? filename : null},
            ]
        ]
    }
    withName: COUNT_ANNOTATIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: ADD_ANNOTATIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: MERGE_ANNOTATIONS {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: ADD_TAXA {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: ADD_BIN_QUALITY {
        publishDir = [
            path: "${params.outdir}/ANNOTATE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: COMBINE_SUMMARIZE {
        publishDir = [
            path: "${params.outdir}/SUMMARIZE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: SUMMARIZE {
        publishDir = [
            [
                path: "${params.outdir}/SUMMARIZE",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.log') ? null : filename},
            ],
            [
                path: "${params.outdir}/pipeline_info/logs",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith('.log') ? filename : null},
            ]
        ]
    }
    withName: PRODUCT_HEATMAP {
        publishDir = [
            path: "${params.outdir}/VISUALIZE",
            mode: params.publish_dir_mode,
        ]
    }
    withName: ADJECTIVES {
        publishDir = [
            path: "${params.outdir}/SUMMARIZE",
            mode: params.publish_dir_mode,
        ]
    }
}
