params {
  config_profile_description = 'Slurm profile'
  config_profile_contact = 'Madeline Scyphers (@WrightonLabCSU)'
  config_profile_url = 'https://github.com/WrightonLabCSU'
}

process {
  resourceLimits = [
    cpus: 128,
    memory: 2.TB,
    time: 23.h
  ]
  executor = 'slurm'
  queue    = params.partition
}
executor {
  queueSize = params.queue_size
}
