params {
  config_profile_description = 'Slurm profile'
  config_profile_contact = 'Madeline Scyphers (@BortonWrightonLabs)'
  config_profile_url = 'https://github.com/BortonWrightonLabs'
}

process {
  resourceLimits = [
    // cpus: 128,
    cpus: params.cpu_provision_limit ? params.cpu_provision_limit : params.huge_cpus_limit,
    memory: params.mem_gb_provision_limit ? params.mem_gb_provision_limit.GB : params.huge_gb_mem_limit.GB,
    time: params.time_hr_provision_limit ? params.time_hr_provision_limit.h : params.huge_hr_time_limit.h
    // memory: 2.TB,
    // time: 14.day
  ]
  executor = 'slurm'
  queue    = params.partition
  clusterOptions = (params.slurm_node ? "--nodelist=${params.slurm_node} " : "")
}
executor {
  queueSize = params.queue_size
}
