/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run BortonWrightonLabs/dram -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test Profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input_fasta         = "${projectDir}/tests/data/owc/input_fasta"
    outdir              = 'results'
    rename              = true
    annotate            = true
    summarize           = true
    qc                  = true
    anno_dbs = "merops,kofam,kegg,dbcan"
}
