params {
  config_profile_description = 'Zennith cluster profile'
  config_profile_contact = 'Madeline Scyphers (@WrightonLabCSU)'
  config_profile_url = 'https://github.com/WrightonLabCSU'
}

process {
  resourceLimits = [
    cpus: 128,
    memory: 2.TB,
    time: 23.h
  ]
  executor = 'slurm'
}
executor {
  queueSize = 10
}
