process {
    withName: FORMAT_KEGG_DB {
        publishDir = [
            path: "${params.kegg_db}",
            mode: 'move',
        ]

        cpus = "${params.threads}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: RENAME_FASTA {
        publishDir = [
            path: "${params.outdir}/Processed_inputs",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: CALL_GENES {
        publishDir = [
            path: "${params.outdir}/Prodigal_v2.6.3",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: QUAST {
        publishDir = [
            path: "${params.outdir}/QUAST_v5.2.0",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: GENE_LOCS {
        publishDir = [
            path: "${params.outdir}/Processed_inputs",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: TRNA_SCAN {

        publishDir = [
            path: "${params.outdir}/tRNA_rRNA",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_user_cpu}"
    }

    withName: RRNA_SCAN {
        publishDir = [
            path: "${params.outdir}/tRNA_rRNA",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_user_cpu}"
    }

    withName: TRNA_COLLECT {
        publishDir = [
            path: "${params.outdir}/tRNA_rRNA",
            mode: 'copy',
        ]

        cpus = 1
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: RRNA_COLLECT {
        publishDir = [
            path: "${params.outdir}/tRNA_rRNA",
            mode: 'copy',
        ]

        cpus = 1
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: MMSEQS_INDEX {

        publishDir = [
            path: "${params.outdir}/MMSEQS2",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: MMSEQS_SEARCH {
        publishDir = [
            path: "${params.outdir}/MMSEQS2",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.lrg_job}"

        maxForks = "${params.max_forks_user_cpu}"
    }

    withName: ADD_SQL_DESCRIPTIONS {
        publishDir = [
            path: "${params.outdir}/MMSEQS2",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.med_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: HMM_SEARCH {
        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = '2'
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_hmm}"
    }

    withName: PARSE_HMM {
        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: KEGG_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: KOFAM_HMM_FORMATTER {
        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }

    withName: CANTHYD_HMM_FORMATTER {

        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: VOG_HMM_FORMATTER {

        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: CAMPER_HMM_FORMATTER {

        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: SULFUR_HMM_FORMATTER {

        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: FEGENIE_HMM_FORMATTER {

        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: GENERIC_HMM_FORMATTER {


        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: DBCAN_HMM_FORMATTER {

        publishDir = [
            path: "${params.outdir}/HMM_search",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: COMBINE_ANNOTATIONS {

        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: COUNT_ANNOTATIONS {


        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: ADD_ANNOTATIONS {


        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: MERGE_ANNOTATIONS {


        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: ADD_TAXA {


        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: ADD_BIN_QUALITY {

        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: GENERATE_GFF_GENBANK {

        publishDir = [
            path: "${params.outdir}/RAW",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.single_thread_job}"
    }
    withName: COMBINE_DISTILL {

        cpus = "${params.single_thread_job}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: DISTILL {

        publishDir = [
            path: "${params.outdir}/DISTILL",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: PRODUCT_HEATMAP {


        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
        ]

        cpus = "${params.single_thread_job}"
        memory = "${params.sml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
    withName: TREES {


        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
        ]

        cpus = "${params.threads}"
        memory = "${params.xsml_job}"

        maxForks = "${params.max_forks_single_cpu}"
    }
}
