params {

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process Flags
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        call = 0
        annotate = 0
        distill = 0
        merge = 0
        product = 0

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Annotation Database Flags
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        use_kegg = 0
        use_kofam = 0
        use_dbcan = 0
        use_camper = 0
        use_fegenie = 0
        use_methyl = 0
        use_canthyd = 0
        use_heme = 0
        use_sulfur = 0
        use_methyl = 0
        use_pfam = 0
        use_merops = 0
        use_vog = 0
        use_dbset = 0
        use_uniref = 0
        use_viral = 0

    /* Default output directory */
        outdir = "${launchDir}/DRAM2_output"

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Input Fasta Directory
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        input_fasta = ""
        fasta_fmt = "*.f*"
        fastas = "${launchDir}/input_fasta/*.f*"

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Input Called genes Directory
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        genes = "${launchDir}/input_genes/*.faa"
        genes_fmt = "*.faa"
        input_genes = ""

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Call Options
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        // Call genes with prodigal
        // prodigal mode either single or meta.
        prodigal_mode = "single"
        // prodigal trans table options: [1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25]
        prodigal_trans_table = "11"
        // prodigal format options: gbk, gff, or sco
        //This is not for use, we will always output gff and gbk
        prodigal_format = "gff"
        min_contig_len = "2500"

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Formatting database options
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        kegg_pep_loc = "${launchDir}/databases/kegg.pep"
        gene_ko_link_loc = "${launchDir}/databases/genes_ko_link.gz"
        kegg_download_date = ""

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Annotation Options
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        annotations = ""
        add_annotations = ""
        merge_annotations = ""
        bit_score_threshold =  "60" // MMseqs threshold search to retain hits.
        rbh_bit_score_threshold =  "350"
        hmmsearch_threads = "2"

    /* Taxonomy and Bin Quality ingest */
        taxa = ""
        bin_quality = ""

    /* Database names */
        kegg_name = "kegg"
        dbcan_name = "dbcan"
        kofam_name = "kofam"
        merops_name = "merops"
        viral_name = "viral"
        camper_name = "camper"
        canthyd_name = "cant_hyd"
        fegenie_name = "fegenie"
        sulfur_name = "sulfur"
        methyl_name = "methyl"
        uniref_name = "uniref"
        pfam_name = "pfam"
        vogdb_name = "vogdb"

    /* E-value cutoffs for each database */
        kegg_e_value = "1e-5"
        kofam_e_value = "1e-5"
        dbcan_e_value = "1e-15"
        merops_e_value = "1e-1"
        vog_e_value = "1e-5"
        camper_e_value = "1e-5"
        uniref_e_value = "1e-5"
        canthyd_e_value = "1e-5"
        sulfur_e_value = "1e-5"
        fegenie_e_value = "1e-5"

    /* Database list for generating GFF and GBK */
        database_list = "empty"
        generate_gff = ""
        generate_gbk = ""

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Annotation database locations
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    /* KEGG */
        kegg_db = "${launchDir}/databases/kegg/"

    /* Uniref */
        uniref_db = "${launchDir}/databases/uniref/"

    /* Pfam */
        pfam_mmseq_db = "${launchDir}/databases/pfam/mmseqs/"

    /* merops */
        merops_db = "${launchDir}/databases/merops/"

    /* viral */
        viral_db = "${launchDir}/databases/viral/"

    /* kofam */
        kofam_db = "${launchDir}/databases/kofam/"
        kofam_list = "${launchDir}/databases/kofam/kofam_ko_list.tsv"
        kofam_top_hit = 'false'

    /* dbcan */
        dbcan_db = "${launchDir}/databases/dbcan/"
        dbcan_fam_activities = "${launchDir}/databases/dbcan/dbcan.fam-activities.tsv"
        dbcan_subfam_activities = "${launchDir}/databases/dbcan/dbcan.fam-activities.tsv"
        dbcan_top_hit = 'true'

    /* vogdb */
        vog_db = "${launchDir}/databases/vogdb/"
        vog_list = "${launchDir}/databases/vogdb/vog_annotations_latest.tsv.gz"
        vog_top_hit = 'false'

    /* CAMPER */
        camper_hmm_db = "${launchDir}/databases/camper/hmm/"
        camper_hmm_list = "${launchDir}/databases/camper/hmm/camper_hmm_scores.tsv"
        camper_mmseqs_db = "${launchDir}/databases/camper/mmseqs/"
        camper_mmseqs_list = "${launchDir}/databases/camper/mmseqs/camper_scores.tsv"
        camper_top_hit = 'false'

    /* cant hyd */
        canthyd_hmm_db = "${launchDir}/databases/canthyd/hmm/"
        cant_hyd_hmm_list = "${launchDir}/databases/canthyd/hmm/cant_hyd_HMM_scores.tsv"
        canthyd_mmseqs_db = "${launchDir}/databases/canthyd/mmseqs/"
        canthyd_mmseqs_list = "${launchDir}/databases/canthyd/mmseqs/cant_hyd_BLAST_scores.tsv"
        canthyd_top_hit = 'false'

    /* fegenie */
        fegenie_db = "${launchDir}/databases/fegenie/"
        fegenie_list = "${launchDir}/databases/fegenie/fegenie_iron_cut_offs.txt"

    /* Sulfur */
        sulfur_db = "${launchDir}/databases/sulfur/"

    /* Methyl */
        methyl_db = "${launchDir}/databases/methyl/"

    /* SQL annotation descriptions database */
        sql_descriptions_db = "${launchDir}/databases/db_descriptions/description_db.sqlite"

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Distill sheets
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    /* Topic */
        // distill_carbon_sheet = ""
        // distill_energy_sheet = ""
        // distill_misc_sheet = ""
        // distill_nitrogen_sheet = ""
        // distill_transport_sheet = ""
        // distill_camper_sheet = ""

    /* Ecosystem */
        // distill_eng_sys_sheet = ""
        // distill_ag_sheet = ""

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Product Options
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        groupby_column = "sample"

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Containers and Environments
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
        main_container = "docker-archive://${launchDir}/containers/dram2-beta1.tar"  // Path to the DRAM2 container
        profile = ""  // Default profile


    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Job and Process Options
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    /* SLURM options */
        slurm_queue = ''
        slurm_node = ""
        time = '23h'

    /* Number of threads */
        threads = 10
        single_thread_job = 1

    /* Max forks Options */
        max_forks_single_cpu  = 2
        max_forks_user_cpu = 2
        max_forks_hmm = 2

    /* Queue size Options */
        queue_size = 10

    /* Memory allocation */
        xsml_job = '200MB'
        sml_job = '12GB'
        med_job = '50GB'
        lrg_job = '200GB'
        xlrg_job = '400GB'
}

profiles {
    conda_slurm {
        includeConfig "${params.conda_slurm_config}"
        conda.enabled = true
        process.conda = "${params.main_environment}"
        executor{
            queueSize = "${params.queue_size}"
        }
    }
    singularity_slurm {
        includeConfig "${params.singularity_slurm_config}"
        process.container = "${params.main_container}"
        singularity {
            enabled = true
            autoMounts = true
        }
        executor{
            queueSize = "${params.queue_size}"
        }
    }
    conda {
        includeConfig "${params.conda_config}"
        conda.enabled = true
        process.conda = "${params.main_environment}"
        executor{
            queueSize = "${params.queue_size}"
        }
    }
    singularity {
        includeConfig "${params.singularity_config}"
        process.container = "${params.main_container}"
        singularity {
            enabled = true
            autoMounts = true
        }
        executor{
            queueSize = "${params.queue_size}"
        }
    }

}
